<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ParkSync</name>
    <description>Smart Parking Manager Mobile App</description>
    <author email="support@parksync.com" href="https://parksync.com">
        ParkSync Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <platform name="android">
        <resource-file src="res/xml/network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:usesCleartextTraffic="true" android:networkSecurityConfig="@xml/network_security_config" />
        </edit-config>
        <allow-intent href="market:*" />
    </platform>
    <preference name="InAppBrowserStorageEnabled" value="true" />
    <preference name="Scheme" value="http" />
    <preference name="Hostname" value="localhost" />
</widget>
